:root {
    --max-header-height: 100px;
    --current-header-height: var(--max-header-height);
    --header-toggle-sidebar-bg-active: #bfc2c5;
    --header-toggle-sidebar-bg-active-hover: #a8aaacff;
    --header-toggle-sidebar-bg-hidden: #e9ecef80;
    --header-toggle-sidebar-bg-hidden-hover: #c0c2c480;
    --header-color: white;
    --header-nav-font-size: 16px;
    --header-site-brand-font-size: 20px;
    --header-img-size: 40px;
    --nav-link-color: #2a7fd4;
}

@media only screen and (max-width: 992px) {
    :root {
        --header-nav-font-size: 22px;
        --header-img-size: 50px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --header-nav-font-size: 24px;
        --header-img-size: 60px;
        --header-site-brand-font-size: 18px;
    }
}

.no-overflow {
    overflow: hidden;
}

#header-container {
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: var(--default-header-height);
    box-shadow: 0 5px 5px #00000015;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

#header-content {
    min-width: 100%;
    min-height: 70px;
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-breadcrumbs {
    min-height: 30px;
    background: #f7f7f8;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.header-nav-link {
    text-decoration: none;
    color: var(--nav-link-color);
}

.header-nav-link:visited {
    color: var(--nav-link-color);
}

.header-nav-link:hover {
    text-decoration: underline;
}

#header-toggle-sidebar-bg {
    margin-left: 5px;
    padding: 5px;
}

#header-toggle-sidebar-btn {
    border-radius: 10px;
    padding: 5px;
    height: var(--header-img-size);
    transition: background 0.5s;
    background: var(--header-toggle-sidebar-bg-active);
    box-sizing: content-box;
}

#header-toggle-sidebar-btn:hover {
    background: var(--header-toggle-sidebar-bg-active-hover);
}

#header-toggle-sidebar-btn.hidden {
    background: var(--header-toggle-sidebar-bg-hidden);
}

#header-toggle-sidebar-btn.hidden:hover {
    background: var(--header-toggle-sidebar-bg-hidden-hover);
}

.header-nav-breadcrumbs-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    font-size: var(--header-nav-font-size);
    min-height: var(--chevron-width);
    padding-top: 2px;
    padding-right: 10px;
}

#header-site-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: var(--header-site-brand-font-size);
}

#header-site-logo {
    height: var(--header-img-size);
    padding-left: 10px;
    flex-shrink: 0;
}