:root {
    --title-border-color: #d1d9e0b3;
    --title-font-size: 40px;
    --heading-border-color: #d1d9e0b3;
    --heading-font-size: 40px;
    --normal-text-font-size: 20px;
    --code-font-size: 20px;
    --link-color: #2a7fd4;
    --main-left-padding: 32px;
}

@media only screen and (max-width: 992px) {
    :root {
        --normal-text-font-size: 22px;
        --main-left-padding: 20px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --normal-text-font-size: 24px;
        --main-left-padding: 10px;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    max-width: 100%;
}


body {
    flex-grow: 1;
}

#body-content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    min-height: 100%;
    min-width: calc(100% - var(--current-sidebar-width));
    margin-left: var(--current-sidebar-width);
    transition: margin-left 0.5s, min-width 0.5s;
    z-index: 1;
}

#main-content {
    padding-left: var(--main-left-padding);
    flex-grow: 1;
    margin-top: var(--current-header-height);
    display: flex;
    flex-direction: column;
    word-wrap: anywhere;
}

#main-content img {
    max-width: 100%;
}

#main-content .external-video {
    display: flex;
    justify-content: center;
    align-content: center;
}

.heading {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--heading-border-color);
    font-size: var(--heading-font-size);
}

.title {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--title-border-color);
    font-size: var(--title-font-size);
    margin-right: 10px;
    margin-bottom: 0px;
}

#main-content.uses-semanticui h1 {
    padding-top: 26.8px;
}

.after-title-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
}

.normal-text {
    font-size: var(--normal-text-font-size);
}

.text-section {
    padding-bottom: 10px;
}

.image-with-explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.explanation-text {
    padding-left: 20px;
    padding-right: 20px;
}

.image-with-explanation p {
    background: #d0d0d0;
    border-radius: 10px;
    padding: 5px;
}

#main-content ul {
    font-size: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#main-content li {
    padding-bottom: 5px;
}

#main-content li span {
    font-size: var(--normal-text-font-size);
}

#main-content li::marker {
    font-size: var(--normal-text-font-size);
}

#main-content li>.list-item-title {
    font-weight: bold;
}

#main-content li>.list-item-explanation::before {
    content: ": "
}

#main-content ul.auto-end-markers li::after {
    content: ";";
    font-size: var(--normal-text-font-size);
}

#main-content ul.auto-end-markers li:last-child::after {
    content: ".";
    font-size: var(--normal-text-font-size);
}

#main-content:not(.uses-semanticui) table {
    width: 100%;
    box-shadow: 0 2px 10px #00000015;
    text-align: left;
    border-collapse: collapse;
    border: 2px solid black;
}

#main-content:not(.uses-semanticui) table.fixed {
    table-layout: fixed;
}

#main-content:not(.uses-semanticui) table.pros-cons td:nth-child(1) {
    color: #008e00;
}

#main-content:not(.uses-semanticui) table.pros-cons td:nth-child(2) {
    color: #c00000;
}

#main-content:not(.uses-semanticui) thead {
    border-radius: 10px;
    word-wrap: normal;
}

#main-content:not(.uses-semanticui) th {
    border: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: #defeff;
    padding: 5px;
}

#main-content:not(.uses-semanticui) td {
    border: 1px solid black;
    padding: 5px;
    word-wrap: break-word;
}

#main-content:not(.uses-semanticui) table.row-alternation tr:nth-child(2n) td {
    border: 1px solid black;
    background: #ececec;
    padding: 5px;
}

#main-content a {
    color: var(--link-color);
}

#main-content a:visited {
    color: var(--link-color);
}

.img-clamp-width {
    display: flex;

}

.image-with-explanation.img-clamp-width {
    margin-left: auto;
    margin-right: auto;
}

.img-clamp-width>img {
    max-width: 100%;
}

.code {
    display: flex;
    max-width: 100%;
    overflow: auto;
    border: 1px solid black;
    border-radius: 10px;
    background: #d2ffce;
}

.code-explanation-text {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.code-explanation-text p {
    background: #d0d0d0;
    border-radius: 10px;
    padding: 5px;
}

#main-content pre {
    width: 0;
    font-size: var(--code-font-size);
    margin: 0;
    padding: 5px;
}

ul {
    font-size: var(--normal-text-font-size);
}

#footer-content {
    background: #3b3f42;
    font-size: 24px;
    padding-left: 32px;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}