:root {
    --header-nav-font-size: 16px;
}

@media only screen and (max-width: 992px) {
    :root {
        --header-nav-font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --header-nav-font-size: 24px;
    }
}

nav {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    width: 100%;
}

header {
    background: white;
    border-bottom: 1px solid black;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 32px;
    padding: 5px;
}

#breadcrumb-container {
    display: flex;
    align-items: center;
}

.ui.breadcrumb {
    font-size: var(--header-nav-font-size) !important;
    white-space: initial !important;
}

.ui.breadcrumb .divider {
    white-space: pre !important;
}

#header-toggle-sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui.vertical.menu .header {
    line-height: initial !important;
}

.header-brand {
    display: flex;
    align-items: center;
}

.header-brand-name {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
}

nav .ui.breadcrumb {
    display: flex;
    white-space: pre;
    padding: 5px;
    align-items: center;
}

aside {
    display: flex !important;
}

aside div {
    overflow: auto;
    border-radius: 0 !important;
}

.sidebar-container {
    overflow: hidden;
    height: 100%;
    display: flex;
}

.sidebar-blur {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}