:root {
    --max-sidebar-width: 300px;
    --current-sidebar-width: 0px;
    --sidebar-color: white;
    --chevron-width: 24px;
    --sidebar-nav-font-size: 16px;
}

@media only screen and (max-width: 992px) {
    :root {
        --sidebar-nav-font-size: 20px;
        --max-sidebar-width: 360px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --sidebar-nav-font-size: 24px;
        --max-sidebar-width: 400px;
    }
}

body.no-overflow {
    overflow: hidden;
}

#sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: var(--current-header-height);
    height: calc(100vh - var(--current-header-height));
    margin-left: 0px;
    transition: margin-left 0.5s;
    display: flex;
    flex-direction: row;
    z-index: 3;
}

#sidebar-container.hidden {
    margin-left: calc(var(--max-sidebar-width) * -1.5);
}

#sidebar-content {
    background-color: var(--sidebar-color);
    min-height: 100%;
    word-wrap: anywhere;
    width: var(--max-sidebar-width);
    max-width: 100vw;
    overflow: auto;
    box-shadow: 0 10px 10px #00000035;
    transition: box-shadow 0.5s;
    flex-shrink: 0;
}

#sidebar-content.hidden {
    box-shadow: none;
}

#sidebar-blur {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
    backdrop-filter: blur(2px);
}

#sidebar-blur.hidden {
    backdrop-filter: unset;
    display: none;
}

#sidebar-nav-list {
    display: flex;
    font-size: var(--sidebar-nav-font-size);
    flex-direction: column;
    padding-top: 10px;
}

.sidebar-nav-item {
    padding-left: 25px;
}

.mobile-title-bar-sidebar-overflow-crutch {
    height: 60px;
}

.sidebar-nav-link-container {
    display: flex;
    flex-direction: row;
}

.sidebar-nav-link-container.tree {
    margin-left: calc(var(--chevron-width) * -1);
}

.sidebar-nav-link {
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    color: #2a7fd4;
}

.sidebar-nav-link:visited {
    color: #2a7fd4;
}

.sidebar-nav-link:hover {
    text-decoration: underline;
}

.sidebar-nav-link.active {
    margin-left: 10px;
    padding-right: 10px;
}

.sidebar-nav-link-container.active {
    padding-bottom: 3px;
}

.sidebar-nav-link-with-bg.active {
    background: #d3e4fa;
    border-left: 3px solid #0a5dbd;
    font-weight: bold;
    margin-right: 15px;
    padding-top: 3px;
    width: 100%;
}

.sidebar-nav-subtree.hidden {
    display: none;
}

.sidebar-nav-tree-toggle-img {
    transition: transform 0.1s;
    width: var(--chevron-width);
}

.sidebar-nav-tree-toggle-img.expanded {
    transform: rotate(90deg);
}